In [1]:
set1={"apple","banana","cherry","orange","kiwi"}
"apple" in set1

True

In [2]:
#universal set
set2={1,2,3,4,5,6,7,8,9,10}
set3={3,4,5}
set4=(3,4,5)
set5={6,7,8,9}

#subset t said to be subset of s if every element of t is also in s
#is subset used to check
set3.issubset(set4)

True

In [3]:
set5<=set2

True

In [11]:
set3<set5
set3<set2

True

In [ ]:
#supersets
#inverse of subset

In [12]:
#is superset method
set2.issuperset(set3)

True

In [13]:
#cheki if proper superset
set2>set5

True

In [14]:
#set operations
set6={1,2,3,4,5,6,7,8,9,10}
#use intersection method
set2.intersection(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set2 & set6

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
#use union method
set2.union(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
set2 | set6

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#relative complement / difference
#elements that arent in that set
#relative complement of s in t
#use operator -
set2-set6
#the complement of set means elements not in the set

set()

In [19]:
#use difference method
set2.difference(set6)

set()

In [ ]:
#absolute complement

In [20]:
#additional attributes and methods
#cardinal -no of elements in set
len(set2)

10

In [24]:
|set2 |

SyntaxError: invalid syntax (2649931627.py, line 1)

In [23]:
#inclusion /exclusion principle
print(len(set2.union(set6)))

10

In [ ]:
#probability
#event occuring
#experiment -outcome of a particular experiment
#samplespace -represents the universal of all possible outcomes
#eventspace -is a subset of the samplespace

In [ ]:
set7={1,2,3,4,5,6}