In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
# Load the Super Bowl data
sb_data = pd.read_csv("superbowl.csv")
sb_data.tail()

    Super Bowl Coin Toss Outcome Coin Toss Winner Game Winner
50          51             Tails        Home Team   Away Team
51          52             Heads        Home Team   Away Team
52          53             Tails        Home Team   Away Team
53          54             Tails        Away Team   Home Team
54          55             Heads        Away Team   Home Team

In [3]:
# Generate sample data as a normal continuous random variable
#sample_data = stats.norm.rvs(loc=20, scale=2, size=50, random_state=5)

# Plot data as well as theoretical mean of 21
#fig, ax = plt.subplots()
#ax.hist(sample_data, alpha=0.5, label="Sample Data")
#ax.axvline(sample_data.mean(), linestyle="--", label=r"Sample Mean $\mu$")
#ax.axvline(21, linestyle="--", color="orange", label=r"Theoretical Mean $\mu_{0}$")
#ax.set_ylabel("Count")
#ax.legend();

In [5]:
sb_data["Coin Toss Winner"].value_counts()

Coin Toss Winner
Away Team    30
Home Team    25
Name: count, dtype: int64

In [6]:
sb_data["Game Winner"].value_counts()

Game Winner
Away Team    31
Home Team    24
Name: count, dtype: int64

In [8]:
coin_toss_counts = sb_data["Coin Toss Outcome"].value_counts()

In [9]:
fair_coin_expected = [sum(coin_toss_counts) / 2, sum(coin_toss_counts) / 2]
fair_coin_expected

[27.5, 27.5]

In [10]:
fair_coin_observed = coin_toss_counts.values
fair_coin_observed

array([29, 26])

In [12]:
fair_coin_result = stats.chisquare(fair_coin_observed, fair_coin_expected)
fair_coin_result

Power_divergenceResult(statistic=np.float64(0.16363636363636364), pvalue=np.float64(0.6858304344516056))

In [13]:
game_winner_counts = sb_data["Game Winner"].value_counts()
game_winner_counts

Game Winner
Away Team    31
Home Team    24
Name: count, dtype: int64

In [14]:
observe = game_winner_counts.values
observe

array([31, 24])

In [15]:
expected = [sum(game_winner_counts) / 2, sum(game_winner_counts) / 2]
expected

[27.5, 27.5]

In [17]:
results= stats.chisquare(observe, expected)
results

Power_divergenceResult(statistic=np.float64(0.8909090909090909), pvalue=np.float64(0.34523107177184))