In [2]:
year_of_birth = int(input("Enter your year of birth here "))
age=2025-year_of_birth
print(f"I am {age} years old in ")

I am 20 years old in

In [2]:
greeting=input("say Hi to get a response ")

### variables
define x to be 10 and y to be 20

In [3]:
x=10
y=20

In [4]:
y-x

10

In [6]:
x*y

200

In [7]:
#divide
y/x

2.0

In [9]:
#power
x**3

1000

In [16]:
z=3

In [17]:
#modulus when you divide 10 with 3 what is the remainder
y%z

2

### logical operations
They include
- and
- or
- not
### comparison operators
for example
- equal to(==)
- not equal to(!=)
- greater than(>)
- less than(<)
- greater than or equal to(>=)
- less than or equal to(<=)

In [18]:
print(x+y,x**y,x%y)

30 100000000000000000000 10

In [19]:
# y greater than x
print(y>x)

True

In [20]:
# x less than y
print(x<y)

True

In [21]:
# x greater than y
print(x>y)

False

### control flow
- if
- elif
- else
- if elif else...multiple conditions

In [26]:
miaka = int(input("weka miaka yako "))
if miaka < 18:
    print("Mtoto")
else:
    print("Mtu mzima")

Mtu mzima

In [33]:
# child young adult adult senior 
miaka = int(input("weka miaka yako "))
if miaka >0 and miaka < 13:
    print("Mtoto")
elif miaka >=13 and miaka < 20:
    print("Kijana")
elif miaka >=20 and miaka < 35:
    print("Mtu mzima")
else:
    print("Mzee")

Mtu mzima

### loops
-FOR LOOPS.....literates through every element in a given data structure
-WHILE LOOPS...only when the condition remains true

In [34]:
#list of fruits
fruits = ["mango","banana","orange","apple"]
for fruit in fruits:
    print(fruit)

mango
banana
orange
apple

In [37]:
#list of numbers 1-5
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number,end=" ,")

1 ,2 ,3 ,4 ,5 ,

In [44]:
#while loop
#counting from 0 to 5
count=0
while count < 5:
    print(count)
    count +=1

0
1
2
3
4

In [54]:
#break, continue and pass
for num in numbers:
    if num >= 5:
        break
    print(num)

1
2
3
4

### list comprehensions
easier way of creating lists from loops

In [ ]:
even_numbers= [i for i in range(0;11)if i%22=0]

range(0, 6)

In [5]:
def multiply(a,b,c):
    return a*b*c

In [3]:
def greeting (name):
    return f"Hello {name}"

In [4]:
greeting1=greeting("Mercy")
print (greeting)

<function greeting at 0x0000018913E1B600>

In [ ]:
multiply=multiply(10,11,12)
print(multiply)

In [6]:
### lamda functions
product = lambda x,y,z: x*y*z

In [53]:
result = product(10, 11, 12)
print(result)

NameError: name 'product' is not defined

In [24]:
greeting = lambda name: f"Hello {name}"

In [26]:
greeting2 = lambda name: f"Hello {name}"
print(greeting2("Gideon"))

Hello Gideon

write a function that checks if a number is even or odd

### data structures
1. sets
2. dictonaries
3. list
4. tuples

1.LISTS
are ordered and mutable (can be changed)

In [27]:
fruits = ["banana", "mango", "orange"]
fruits.append("apple")
fruits

['banana', 'mango', 'orange', 'apple']

In [30]:
fruits.pop()

'apple'

In [31]:
fruits

['banana', 'mango', 'orange']

2. Tupples
you cannot add anything(cannot be changed/ immutable)
ordered like a list denoted using()
methods...count/index

In [32]:
Image_pixels = (1920, 1080)
Image_pixels.count(1920)

1

In [34]:
Image_pixels.index(1080)

1

In [35]:
Image_pixels[1]

1080

3. Sets

In [36]:
set1 = {5,7,6,8,4}
set2 = {1,2,3,4,9}

In [37]:
set3 = set1.intersection(set2)
set3

{4}

In [39]:
set4 = set1.union(set2) 
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

4. dictionaries denorted by {} the key pair value mutable

In [41]:
person = {
    "name": "Gideon",
    "age": 20,
    "fruits": "melon"
}

In [42]:
person

{'name': 'Gideon', 'age': 20, 'fruits': 'melon'}

In [43]:
data = {
    "name": {"Gideon", "Brian", "Linda", "Sarah", "Michael"},
    "age": [20, 30, 10, 5, 25],
    "fruits": ["banana", "apple", "orange", "mango", "grape"]
}

In [2]:
import pandas as pd
df=pd.DataFrame(data)
df.head()

NameError: name 'data' is not defined

### INDEXES
positioning
slicing ...used indices to return a new list without modifying the original list

In [56]:
numbers=[10,20,30,40,50,60,70,80,90,100]

In [58]:
numbers[3]

40

In [57]:
numbers[1]

20

In [59]:
numbers[:3]

[10, 20, 30]

In [63]:
numbers[5:]

[60, 70, 80, 90, 100]

In [65]:
numbers[2:4]

[30, 40]

In [66]:
numbers.append(60)

In [67]:
numbers

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 60]

In [75]:
slices = slice(5,11)
numbers[slices]

[60, 70, 80, 90, 100, 60]

In [1]:
import pandas as pd

OOP
1. CLASSSES always use upper case for the first letter Blue_print of creating objects always think of attributes when creating an object function inside a class- methods

In [3]:
class person :
    def __init__(self, name, age, gender, nationality):
        self.name = name
        self.age = age
        self.gender = gender
        self.nationality = nationality
    def speak(self):
        return f"Hello, my name is {self.name}. I am {self.age} years old. I am a {self.gender} from {self.nationality}."

In [7]:
# example usage
person1 = person("Gideon","20","man","Kenyan")
print(person1.speak())

Hello, my name is Gideon. I am 20 years old. I am a man from Kenyan.

In [10]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
       area = self.length * self.width
       return f"The area of the rectangle is, {self.length} and {self.width} is {area} "
    
    def perimeter(self):
        perimeter = 2 * (self.length + self.width)
        return f"The perimeter of the rectangle is, {self.length} and {self.width} is {perimeter} "

In [11]:
Rectangle=Rectangle(10,5)
print(Rectangle.area())

The area of the rectangle is, 10 and 5 is 50

In [ ]:
class circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
       area = 3.14 * self.radius * self.radiusj
       return f"The area of the circle is, {self.radius} is {area} "
    
    def circumference(self):
        circumference = 2 * 3.14 * self.radius
        return f"The circumference of the circle is, {self.radius} is {circumference} "

In [14]:
circle=circle(7)
print(circle.area())

The area of the circle is, 7 is 153.86

In [8]:
class Animal:
    def __init__(self, name):
        self.name = name
    def speak(self):
        return f"The {self.name} makes a sound"

In [9]:
class Dog(Animal):
    def speak(self):
        return f"The {self.name} barks"

In [10]:
dog1=Dog("Sisco")
print(dog1.speak())

The Sisco barks

In [13]:
class Cat(Animal):
    def speak(self):
        return f"The {self.name} meows"

In [15]:
cat1=Cat("Tom")
print(cat1.speak())

The Tom meows

In [ ]:
class Cow(Animal):
    def speak(self):
        return f"The {self.name} Moo"

In [19]:
cow1=Cow("cherry")
print(cow1.speak())

The cherry Moo

In [21]:
class Duck(Animal):
    def speak(self):
        return f"The {self.name} qwack"

In [22]:
duck1=Duck("Daffy")
print(duck1.speak())

The Daffy qwack

create a class called employee with name and salary then create a sub class manager with an extra department attribute and method to display the full details??