In [1]:
import numpy as np
import scipy as sp
from scipy import stats
from statsmodels.stats.power import TTestIndPower
import pandas as pd

In [6]:
observed = 0.55 #observed probability of getting heads in a coin flip
expected = 0.5 #expected probability of getting heads in a fair coin flip
prob = expected

rows = []
for n in [10, 20, 50, 500]:
    tsd = np.sqrt(n * prob * (1 - prob))
    cohens_d = (n*(observed - expected)) / (n * prob * (1 - prob)) 
    rows.append({"effect_size": cohens_d, "sample size": n})
import pandas as data
data = data.DataFrame(rows)
data.head()

   effect_size  sample size
0          0.2           10
1          0.2           20
2          0.2           50
3          0.2          500

In [5]:
dict_rows = {}
for n in [10, 20, 50, 500]:
    temp_dict = {}  # Temporary dictionary to store Cohen's d of the alternative hypothesis
    for observed in [0.51, 0.55, 0.6, 0.7]:
        tsd = np.sqrt(n * prob * (1 - prob))
        cohens_d = (n * (observed - expected)) / tsd
        temp_dict[observed] = cohens_d
    dict_rows[n] = temp_dict
print('hypothesis effect sizes for various alternative hypotheses')
df = pd.DataFrame.from_dict(dict_rows, orient='index')
#df.index = [10, 20, 50, 500]
#df.columns.name = 'sample size'
#df.columns.name = 'alternative hypothesis '
df.head()

hypothesis effect sizes for various alternative hypotheses

         0.51      0.55      0.60      0.70
10   0.063246  0.316228  0.632456  1.264911
20   0.089443  0.447214  0.894427  1.788854
50   0.141421  0.707107  1.414214  2.828427
500  0.447214  2.236068  4.472136  8.944272